.box_dispatch {
  padding: 50px 20px;
  ;
  width: 100%;
  background-color: #eee;
}

.box_dispatch button {
  background-color: #2A92D7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 11px;
}

.box_dispatch button:hover, .box_dispatch button:active, .box_dispatch button:focus {
  border: none;
  background-color: #217BB5;
}

.Apps {
  display: flex;
  flex: 1
}

.item {
  flex: 1;
  margin: 10px;
  min-height: 600px;
  border: 1px solid #eee;
}
.item h1 {
  text-align: center;
}
.item ul {
  padding: 10px 10px 10px 30px;
}